body {
  background: url("../images/dojo.png") no-repeat center center fixed;
  -webkit-backdrop-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
  background-position: center center;
  height: 100%;
  color: #67ce22;
}

header {
  background: fixed;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

img.center {
  margin: auto;
  padding-top: 15px;
  opacity: 0.6;
  width: 400px;
  height: auto;
}

h2 {
  font-size: 2em;
  margin: 20px 0px 20px 0px;
}

img {
  max-width: 210px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.char-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  margin: 0px 2px 0px 2px;
}

#fight_row {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#opponents_available h2 {
  color: #8434cc;
}

.opponent {
  color: #8434cc;
}

#your_character {
  color: #c26f0b;
}

#defender_section {
  color: #b10d1b;
}

#message {
  color: #f87575;
  width: 300px;
  font-size: 1.5em;
}

button {
  background-color: #00890b;
  color: white;
  font-family: monospace, serif;
  font-size: 1.2em;
  border: 2px solid white;
  padding: 10px 60px 10px 60px;
}

/* media queries */

/* @media screen and (max-width: 980px) {
    .hover-rotate {
      width: 300px;
      height: 300px;
    }
    input {
      width: 95%;
      padding: 10px;
    }
  
    textarea {
      width: 95%;
      padding: 10px;
    }
  
    #submit {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hover-rotate {
      width: 200px;
      height: 200px;
    }
    input {
      width: 95%;
      padding: 10px;
    }
  
    textarea {
      width: 95%;
      padding: 10px;
    }
  
    #submit {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 640px) {
    .hover-rotate {
      width: 100px;
      height: 100px;
    }
    #logo {
      float: none;
      display: block;
      overflow: auto;
      width: 100%;
    }
    #masthead {
      position: static;
      top: 0%;
    }
    input {
      width: 95%;
      padding: 10px;
    }
    nav {
      float: none;
      display: block;
      margin-bottom: 25px;
      text-align: center;
    }
    textarea {
      width: 95%;
      padding: 10px;
    }
  
    #submit {
      width: 50%;
      position: relative;
    } */
